<p id="notice"><%= notice %></p>

<div class="messages__container">
  <h1>Messages</h1>

  <div>
      <hr />
      <a class="messages__links" href="<%= messages_path %>">All Messages</a> |
      <a class="messages__links" href="<%= messages_path(filter: 'Emeka Chinedu') %>">My Messages</a> |
      <strong><a class="messages__links" href="<%= new_message_path %>" role="button">Add a Message</a></strong>
  </div>

  <% @messages.each do |message| %>
    <div class="card-body">
      <hr />
      <p class="card-text <%= message.hidden ? "messages__hidden" : "" %>"><%= message.entry %></p>

      <div class="card-footer">
       <small class="text-muted <%= message.hidden ? "messages__hidden" : "" %>">
          Added <%= message.created_at.to_s(:short) %> by <%= message.name %>
        </small>

        <% if is_admin? && !message.hidden %>
          <%= link_to 'Hide message', hide_message_path(message), method: :put, data: { confirm: 'This message will be hidden from users. Proceed?' }, class: "messages__message-hide" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>