<% if @current_user %>   
  <p><a href="<%= logout_path %>">Logout</a></p>    
<% else %>
  <p><a href="<%= login_path %>">Login</a></p>
<% end %>

<h1>Messages</h1>

<div>
    <hr />
    <a href="<%= messages_path %>">All Messages</a> |
    <a href="<%= messages_path(filter: 'me') %>">My Messages</a> |
    <strong><a class="btn btn-primary" href="<%= new_message_path %>" role="button">Add a Message</a></strong>
</div>

<% @messages.each do |message| %>
  <div class="card-body">
    <hr />
    <% if message.hidden %>
      <p class="card-text red"><%= message.entry %></p>
    <% else %>
      <p class="card-text"><%= message.entry %></p>
    <% end %>
    <p class="card-text">
        <small class="text-muted">
            <span class="text-muted">Added <%= message.created_at.to_s(:short) %> by <%= message.name %></span>
        </small>
    </p>
    <% if @current_user %>
      <% if !message.hidden %>
        <a href="<%= hide_message_path(:id => message.id)%>">Hide Message</a>
      <% end %>    
    <% end %>
  </div>
<% end %>
